<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="icon" type="image/png" href="~/images/favicon.png" />

    <environment names="Development">
        <link rel="stylesheet" href="~/css/light.min.css">
        <link rel="stylesheet" href="~/css/lib.min.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/light.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/lib.min.css" asp-append-version="true">
    </environment>

    <style>
        .top-buffer { padding-top:10px; }
    </style>

</head>

<body>

    <!-- Navigation Bar -->
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Home</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/Home/Stateless">Stateless</a>
                    </li>
                    <li>
                        <a href="/Home/Stateful">Stateful</a>
                    </li>
                    <li>
                        <a href="/Home/Actor">Actor</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="container body-content">

        <!-- Heading row -->
        <div class="row">
            <div class="col-md-12">
                <h1>Service Fabric Application</h1>
                <p class="">This application is aimed at helping you get a good introduction to developing Service Fabric applications.</p>
                <p>The application consists of four services and shows how the different service types works and can communicate.</p>
            </div>
        </div>

        @RenderBody()

    </div>

    <environment names="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
