<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ServiceFabric" version="8.1.321" targetFramework="net472" />
  <package id="Microsoft.ServiceFabric.Data" version="5.1.321" targetFramework="net472" />
  <package id="Microsoft.ServiceFabric.Data.Extensions" version="5.1.321" targetFramework="net472" />
  <package id="Microsoft.ServiceFabric.Data.Interfaces" version="5.1.321" targetFramework="net472" />
  <package id="Microsoft.ServiceFabric.Diagnostics.Internal" version="5.1.321" targetFramework="net472" />
  <package id="Microsoft.ServiceFabric.FabricTransport.Internal" version="5.1.321" targetFramework="net472" />
  <package id="Microsoft.ServiceFabric.Services" version="5.1.321" targetFramework="net472" />
  <package id="Microsoft.ServiceFabric.Services.Remoting" version="5.1.321" targetFramework="net472" />
</packages>