<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="Microsoft.AspNet.WebApi.Client" version="5.2.9" targetFramework="net45" />
    <package id="Microsoft.AspNet.WebApi.Core" version="5.2.9" targetFramework="net45" />
    <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.9" targetFramework="net45" />
    <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.9" targetFramework="net45" />
    <package id="Microsoft.Owin" version="4.2.2" targetFramework="net45" />
    <package id="Microsoft.Owin.Host.HttpListener" version="4.2.2" targetFramework="net45" />
    <package id="Microsoft.Owin.Hosting" version="4.2.2" targetFramework="net45" />
    <package id="Microsoft.Owin.StaticFiles" version="4.2.2" targetFramework="net45" />
    <package id="Microsoft.ServiceFabric" version="9.1.1653" targetFramework="net45" />
    <package id="Microsoft.ServiceFabric.Data" version="6.1.1653" targetFramework="net45" />
    <package id="Microsoft.ServiceFabric.Services" version="6.1.1653" targetFramework="net45" />
    <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
    <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Unity" version="5.11.10" targetFramework="net45" />
  <package id="Unity.WebAPI" version="5.4" targetFramework="net45" />
</packages>