@{
    ViewData["Title"] = "SF OneApp - Actors";
}
<!-- Content Row -->
<div class="row">
    <!-- Heading row -->
    <div class="row">
        <div class="col-md-12">
            <h1>Actor Backend Service</h1>
            <p>A Reliable Actors service. The service creates actor instances and exposes a Service Remoting endpoint and two methods to invoke an actor instance and to get the number of active actors.</p>
            <ul>
                <li>
                    <a href="https://docs.microsoft.com/azure/service-fabric/service-fabric-reliable-actors-introduction">
                        Learn more about Reliable Actors
                    </a>
                </li>
            </ul>
        </div>
        <!-- Service column -->
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <p>You can create new actors that will increment their count every second.</p>
                    <p>Create a new actor by clicking the <strong>New Actor button</strong>. Get a list of actors and their current count by pressing the <strong>Get actor(s) and count</strong> button.</p>
                    <!-- Button -->
                    <div class="row">
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <button class="btn btn-primary btn-block" onclick="newActor()" type="button" id="newActor" tabindex="1">New Actor</button>
                                    <button class="btn btn-primary btn-block" onclick="getActorCount()" type="button" id="getActorCount" tabindex="2">Get # of Actors</button>
                                </div>
                                <div class="panel-body">
                                    <h1 class="text-center no-margin" id="countDisplay">0</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>