@{
    ViewData["Title"] = "Getting started with Service Fabric";
}
<!-- Content Row -->
<div class="row">
    <!-- Heading row -->
    <div class="row">
        <div class="col-md-12">
            <h1>Service Fabric Sample Application</h1>
            <p>This application is a sample to help get started with Service Fabric. <br /> The application consists of multiple services to show how the different types of Service Fabric services works, as well as how they can communicate.</p>
        </div>
        <!-- Service column -->
        <div class="col-md-12">
            <p>
                There are five services in the application. Each of the services have a UI exposed in this web application, which is being hosted by the WebService. The web application is built using HTML and JavaScript and communicate via the HTTP API exposed by the WebService. <br />
                We have added some basic UI elements and implemented calls to some of the exposed HTTP APIs. Feel free to add on to the application.

                <div class="list-group">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h4>WebService</h4>
                        </li>
                        <li class="list-group-item">A stateless Reliable Service built using ASP.NET Core. The service functions as the entry point to the application exposing an HTTP endpoint with an API to communicate with the backend services and a single-page Web UI.</li>
                    </ul>
                </div>
                <div class="list-group">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="/Home/Stateless"><h4>StatelessBackendService</h4></a>
                        </li>
                        <li class="list-group-item">A stateless Reliable Service that does a long running job processing task. The service exposes an RPC endpoint using Service Remoting with a single method though a shared remoting interface.</li>
                    </ul>
                </div>
                <div class="list-group">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="/Home/Stateful"><h4>StatefulBackendService</h4></a>
                        </li>
                        <li class="list-group-item">A stateful Reliable Service built using ASP.NET Core and Reliable Collections. The service exposes an HTTP endpoint with an API hosted with Kestrel. The services store key-value pairs in a Reliable Dictionary and can be partitioned based on the first letter of the key.</li>
                    </ul>
                </div>
                <div class="list-group">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="/Home/Actor"><h4>ActorBackendService</h4></a>
                        </li>
                        <li class="list-group-item">A Reliable Actors service. The service creates actor instances and exposes a Service Remoting endpoint and two methods to invoke an actor instance and to get the number of active actors.</li>
                    </ul>
                </div>
                <div class="list-group">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="/Home/GuestExe"><h4>GuestExecutableService</h4></a>
                        </li>
                        <li class="list-group-item">A guest executable service. The service is an executable program that hosts a webserver responding to HTTP GET commands.</li>
                    </ul>
                </div>
        </div>
    </div>
</div>