@{
    ViewData["Title"] = "SF OneApp - Index";
}
<!-- Content Row -->
<div class="row">
    <!-- Heading row -->
    <div class="row">
        <div class="col-md-12">
            <h1>Service Fabric Application</h1>
            <p class="">This application is aimed at helping you get a good introduction to developing Service Fabric applications.</p>
            <p>The application consists of four services and shows how the different service types works and can communicate.</p>
        </div>
    </div>
    <!-- Service column -->
    <div class="col-md-12">
        <h3>Docs docs docs...</h3>
        <p>
            Good description of what this is and how to use it.
            References to docs and other samples...
        </p>
    </div>
</div>