@{
    ViewData["Title"] = "SF OneApp - Index";
}

<!-- Content Row -->
<div class="row">

    <!-- Service column -->
    <div class="col-md-12">
        <h3>Docs docs docs...</h3>
        <p>
            Good description of what this is and how to use it.
            References to docs and other samples...
        </p>
    </div>
</div>