@{
    ViewData["Title"] = "SF OneApp - Tenant";
}
<!-- Content Row -->
<div class="row">
    <!-- Heading row -->
    <div class="row">
        <div class="col-md-12">
            <h1>Tenant Backend Service</h1>
        </div>
    </div>
    <!-- Service column -->
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="tenantInput" placeholder="key" tabindex="1">
                        </div>
                    </div>
                    <!-- Button -->
                    <div class="row">
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <button class="btn btn-primary btn-block" onclick="deployTenant()" type="button" id="deployTenant" tabindex="1">Deploy Tenant</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>