<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="Microsoft.ServiceFabric" version="9.1.1653" targetFramework="net472" />
    <package id="Microsoft.ServiceFabric.Data" version="6.1.1653" targetFramework="net472" />
    <package id="Microsoft.ServiceFabric.Services" version="6.1.1653" targetFramework="net472" />
    <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net45" />
</packages>