<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta http-equiv="content-type" content="application/force-download">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Azure Service Fabric Chatter</title>

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.js"></script>

    <link href="Content/main.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="wrapper clearfix header-content">
            <h2 class="azure-heading">Azure Service Fabric</h2>
            <h1 class="chatter-heading">Chatter</h1>
            <a class="button whatsnew" href="http://aka.ms/servicefabric" target="_blank">See what's new in Service Fabric</a>

        </div>
    </header>
    <section id="main" class="wrapper clearfix">
        <ul id="messages" class="wrapper clearfix"></ul>
    </section>
    <footer>
        <div id="form" class="wrapper clearfix">
            <label>Name:</label><input id="inputName" />
            <label>Message:</label><input id="inputMessage" />
            <a class="button" href="javascript:void(0);" id="sendButton">Send</a>
            <a class="button" href="javascript:void(0);" id="deleteButton">Clear Messages</a>
        </div>
    </footer>

    <script type="text/javascript">
                //Get the location URL information
                var appRoot = "";
                var serviceUrl = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '');

                // Refresh the list of messages every 2 seconds
                $(function () {
                    setInterval(function () { GetMessages(); }, 2000);
                });

                $('#sendButton').click(function () {
                    AddMessage();
                });

                $('#deleteButton').click(function () {
                    DeleteMessages();
                });

                //Call the default POST message for
                function AddMessage() {
                    var name = $('#inputName').val();
                    var message = { MessageText: $('#inputMessage').val(), Name: $('#inputName').val() };
                    $.ajax({
                        url: serviceUrl + appRoot + '/api/chat/',
                        type: 'POST',
                        contentType: 'application/json',
                        dataType: 'json',
                        data: JSON.stringify(message)
                    })
                        .done(function (addMessage) {
                            $('#inputMessage').val('');
                        });
                }


                function DeleteMessages() {
                    $.ajax({
                        url: serviceUrl + appRoot + '/api/chat/',
                        type: 'DELETE',
                        contentType: 'application/json',
                        dataType: 'json'
                    })
                        .done(function (result) {
                            $('#messages').empty();
                        });
                }

                function GetMessages() {
                    $.ajax({
                        url: serviceUrl + appRoot + '/api/chat/',
                        type: 'GET',
                        contentType: 'application/json',
                        datatype: 'json',
                        cache: false
                    })
                        .done(function (getMessageResult) {
                            bindData($('#messages'), getMessageResult);
                        });
                }

                //Take returned messages and construct list items
                function bindData(element, data) {
                    $('#messages').empty();
                    $.each(data, function (id, jobject) {
                        $('<li/>')
                            .append(
                                $('<span class="message-time"/>').text($.time(jobject.Key)))
                            .append(
                                $('<span class="message-from"/>').text(jobject.Value.Name))
							.append(': ')
                            .append(
                                 $('<span class="message-body"/>').text(jobject.Value.MessageText))
                            .appendTo(element);
                    });
                }

                //Do formatting of returned datetime
                $.time = function (dateObject) {
                    var d = new Date(dateObject);
                    var sec = d.getSeconds();
                    var min = d.getMinutes();
                    var hour = d.getHours();
                    var time = hour + ":" + min + ":" + sec;
                    return time;
                };

    </script>
</body>
</html>
