<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Counting of Words</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <script data-require="angular.js@*" data-semver="1.4.8" src="https://code.angularjs.org/1.4.8/angular.js"></script>
    <script data-require="angular-route@*" data-semver="1.4.8" src="https://code.angularjs.org/1.4.8/angular-route.js"></script>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.0/angular-material.min.css" />
    <link rel="stylesheet" href="./wwwroot/assets/app.css" />
    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body ng-app="wordCountApp"  ng-controller="WordCountController">
    <div class="tabsdemoDynamicHeight">
        <md-content class="md-padding">
            <md-toolbar class="md-whiteframe-z1">
                <md-content class="md-padding">
                    <ng-md-icon icon="cached" style="fill: orange" size="48"></ng-md-icon>Word Count
                </md-content>
            </md-toolbar>
            <md-tabs md-dynamic-height="" md-border-bottom="">
                <dashboard></dashboard>
                <md-tab label="DashBoard" ng-click="Draw()">
                    <md-content class="md-padding">
                        <div class="md-list-item-text">
                            <h1>{{SendWordsResponse.Word}}</h1>
                            <h4>PartitionId: {{SendWordsResponse.PartitionId}}</h4>
                            <h5>Service Address: {{SendWordsResponse.ServiceAddress}}</h5>
                            <h5>Total word count: {{partitionData.Total}}</h5>
                        </div>
                    </md-content>
                    <md-content class="md-padding">
                        <h1 class="md-display-2"></h1>
                        <div style="width:16%;">
                            <md-input-container>
                                <label>Chart Type</label>
                                <md-select ng-model="partitionChartType" ng-change="partitionChartTypeChange(partitionChartType)">
                                    <md-option value="ColumnChart">
                                        Column Chart
                                    </md-option>
                                    <md-option value="PieChart">
                                        Pie Chart
                                    </md-option>
                                    <md-option value="BarChart">
                                        Bar Chart
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div>
                            <div google-chart chart="chartObject" style="height:500px; width:100%;"></div>
                        </div>
                    </md-content>
                </md-tab>
                <settings></settings>
            </md-tabs>
        </md-content>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-animate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-aria.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.0/angular-material.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-chart/0.0.11/ng-google-chart.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script src="./wwwroot/src/WordCount.js"></script>
    <script src="./wwwroot/src/WordCountController.js"></script>
    <script src="./wwwroot/src/WordCountService.js"></script> 
    <div>{{message}}</div>
</body>
</html>