<?xml version="1.0" encoding="utf-8" ?>
<Settings
    xmlns="http://schemas.microsoft.com/2011/01/fabric"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Section Name="VisualObjectsBoxSettings">
    <Parameter Name="ServiceName" Value="VisualObjects.ActorService" />
    <Parameter Name="ObjectCount" Value="10" />
  </Section>
</Settings>
