<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ServiceFabric" version="7.1.458" targetFramework="net472" />
  <package id="Microsoft.ServiceFabric.Data" version="4.1.458" targetFramework="net472" />
  <package id="Microsoft.ServiceFabric.Data.Extensions" version="4.1.458" targetFramework="net472" />
  <package id="Microsoft.ServiceFabric.Data.Interfaces" version="4.1.458" targetFramework="net472" />
  <package id="Microsoft.ServiceFabric.Diagnostics.Internal" version="4.1.458" targetFramework="net472" />
  <package id="Microsoft.ServiceFabric.FabricTransport.Internal" version="4.1.458" targetFramework="net472" />
  <package id="Microsoft.ServiceFabric.Services" version="4.1.458" targetFramework="net472" />
  <package id="Microsoft.ServiceFabric.Services.Remoting" version="4.1.458" targetFramework="net472" />
</packages>