body {
    margin: 0;
    padding: 0;
    background: #fbfbfb;
    color: #555;
    font: 16px/1.2 "Segoe UI Light","Segoe WP Light","Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
    min-width: 1000px;
}

a, a:visited, a:hover {
    color: inherit;
    text-decoration: none;
    font: inherit;
}

    a:hover {
        text-decoration: underline;
    }

.clearfix::before, .clearfix::after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix::after {
    clear: both;
}

.clearfix::before, .clearfix::after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
}

.wrapper {
    clear: both;
    display: block;
    margin: 0 auto;
    min-width: 1000px;
    width: 1000px;
}

.button {
    display: inline-block;
    background: #89c402;
    border: 0 none;
    box-sizing: border-box;
    color: #fff;
    padding: 4px 15px;
    position: relative;
    text-align: center;
    vertical-align: bottom;
    text-decoration: none;
}

    .button.whatsnew {
        color: #FFF;
        background: #89c402 url('balloons-icon.png') center right no-repeat;
        font-size: 18px;
        line-height: 33px;
        padding: 0 55px 2px 20px;
        margin: 20px 0 20px 0;
    }

        .button.whatsnew::after {
            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAbCAYAAAB1NA+iAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuM4zml1AAAABRSURBVDhPY/j//78AEDcAsQEDuQCoOQGI348aggCjhmCCUUMwAVAzKPOBDFGAChEPQDZDNc+HChEPRjWTCEY1kwgo1QyqmdYDcT9UiATAwAAA8wwclpvxEbIAAAAASUVORK5CYII=") no-repeat;
            content: "";
            display: inline-block;
            height: 28px;
            margin-top: -14px;
            position: absolute;
            right: 15px;
            top: 50%;
            width: 16px;
        }

    .button:hover {
        background-color: #A5CE00;
        text-decoration: none;
    }

h2.azure-heading {
    font-size: 24px;
    font-weight: 200;
    color: #FFF;
    margin: 20px 0 0 0;
}

h1.chatter-heading {
    font-size: 48px;
    font-weight: 200;
    color: #FF8A00;
    margin: 0;
}

h3.chatter-subheading {
    font-size: 24px;
    font-weight: 200;
    color: #89c402;
    margin: 0;
}

h4 {
    margin: 5px 0;
}

header {
    background: #303030;
}

    header .header-content {
        background: url('cluster-background.png') bottom right no-repeat;
    }

section#main {
    height: 500px;
    margin: 20px auto;
    overflow-y:scroll;
	overflow-x:hidden;
}

ul#messages {
    margin: 0;
    padding: 0;
}

    ul#messages li {
        list-style: none;
        margin: 0;
        padding: 10px;
    }
    ul#messages li .message-time{
		font-style: italic;
		font-size:12px;
		color:#999;
		margin-right:10px;
	}
    ul#messages li .message-from{
		font-weight:bold;
		color:#00ABEC;
		margin-right:2px;
	}
    ul#messages li .message-body	{
		
		margin-left:5px;
	}
        ul#messages li:nth-child(odd) {
            background: #eee;
        }

div#form {
    padding-top: 10px;
}

    div#form label {
        padding: 0 7px 0 0;
        color: #FFF;
    }

    div#form input {
        padding: 10px 10px;
        margin: 0 10px 0 0;
        font-size: 16px;
        color: #666;
    }

        div#form input#inputName {
            width: 150px;
        }

        div#form input#inputMessage {
            width: 400px;
        }

    div#form .button {
        margin-left: 20px;
        padding: 12px 15px;
    }

footer {
    background: #1A1A1A;
    height: 100px;
}
